:host {
  display: block;
  border: 1px dashed gray;
  margin-bottom: 10px;
}

.author {
  font-weight: 300;
  font-size: 24px;
  color: black;

  &--is-important {
    color: tomato;
  }
}

.content {
  font-size: 18px;
}


:host(.small-comments) {
  .author {
    font-size: 16px;
  }

  .content {
    font-size: 12px;
  }
}

:host-context(.small-comments) {
  .author {
    font-size: 16px;
  }

  .content {
    font-size: 12px;
  }
}
