<ng-container *ngIf="!isLoading; else loading">
  <h4
      class="author"
      role="button"
      [class.author--is-important]="isImportant"
      [attr.aria-label]="isImportant ? 'Element jest ważny' : null"
      [tabIndex]="isImportant ? 0 : null"
      (keydown.space)="spacePress()"
      >{{ author }}</h4>

  <div class="content">
    {{ content }}
  </div>
  <div>
    Długość zawartości:
    {{ content | length }}
  </div>
  <div>Utworzono: {{ date | date : 'mediumDate' : null : 'pl' }}</div>
</ng-container>

<ng-template #loading>
  <div>Ładowanie...</div>
</ng-template>
